h1,p,body {
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color:rgb(244, 79, 79)
}

main {
  padding: 10px;
}

h1 {
  color:rgb(255, 255, 255)
}

#parent {
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.contents {
  flex-basis: 25%;
  border: 3px solid rgb(238, 204, 204);
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

img {
  margin: 10px 0;
  width: 70%;
}

footer {
  text-align: center;
  background-color:rgb(244, 79, 79)
}

a {
  color: rgb(255, 255, 255);
}

a:visited:hover {
  color: rgb(193, 234, 251);
}

/* スクリーン幅が768px以上のスタイル */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  #parent {
    flex-direction: column;
    align-items: center;
  }
}